/* selector first stat grid */
.stats-grid:first-of-type {
    position: relative;
    height: 150px;
    
}
/* add fire emoji */
.stats-grid:first-of-type::after {
    content: "🔥";
    position: absolute;
    top: 8px;
    font-size: 28px;
    transform: translate(-50%,0);
}
/* selector first stat grid content */
.stats-grid:first-of-type .stat-number, 
.stats-grid:first-of-type .stat-label {
    transform: translate(0,20px);
}
/* background last stats-grid */
.stats-grid.stats-grid:last-of-type {
    background: linear-gradient(#1305d1,#7205d1);
} 
.stats-grid.stats-grid:last-of-type .stat-number,
.stats-grid.stats-grid:last-of-type .stat-label {
    color: white;
}
/* add hover transition */
.stats-grid {
    transition: transform 1s ease;
}
/* add hover effect */
.stats-grid:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #481de2;
}
/* enlight second training plan */
.workout-plan:nth-of-type(2) {
    border-left: 3px solid #fbcc9d;
    background-color:lightyellow ;
}
/* enlight 1st and 3rd training plan */
.workout-plan:nth-of-type(3),
.workout-plan:first-of-type {
    border-left: 3px solid #21ca12;
    background-color: #dbf8d8;
}
/* add ⚡to even numbered exercises */ 
.exercise-item:nth-child(even) .exercise-name::before {
    content: "⚡ ";
}
.goal-input-group {
    outline-width: 0px;
}
/* add focus to input areas */
.goal-input-group :focus {
    outline-color: blue;
    outline-width: 10px;
    box-shadow: blue 2px 8px 10px;
}
/* add transition to input areas when focus*/
.goal-input-group input{
    transition: border-color 1s ease, box-shadow 1s ease;
}
.save-btn {
    transition:transform 1s ease;
}
.save-btn:hover {
    transform: translateY(-2px);
    background-color:#5b11ee ;
}